In [1]:
import pandas as pd

In [2]:
Bicycle_Seoul = pd.read_csv('data/Bicycle/sample.csv', encoding='utf-8')

Bicycle_Seoul

C:\Users\BIT_R33\anaconda3\envs\data-anal-env\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),사용시간(분),연월,연도
0,463646,2017-04-18,18,314.0,국립현대미술관,정기,F,20대,1.0,30.49,0.36,1.54,15.0,2017-04,2017
1,38375809,2020-09-09,18,646.0,646. 장한평역 1번출구 (국민은행앞),정기권,NaN,40대,1.0,184.38,1.80,7.76,41.0,2020-09,2020
2,35316193,2020-07-12,16,1438.0,1438. 홈플러스 신내점 앞,일일권,M,40대,1.0,274.27,2.23,9.62,40.0,2020-07,2020
3,35770440,2020-07-20,7,1235.0,1235. 잠실트리지움310동 옆,정기권,M,20대,1.0,0.00,0.00,0.00,2.0,2020-07,2020
4,6905418,2018-06-15,19,1249.0,아주중학교건너편,정기권,F,30대,1.0,14.62,0.16,0.71,4.0,2018-06,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,15066781,2019-05-17,12,436.0,436. 이대역 5번출구,정기권,NaN,20대,2.0,76.27,0.83,3.60,21.0,2019-05,2019
199996,15634066,2019-05-28,13,207.0,207. 여의나루역 1번출구 앞,정기권,NaN,60대,1.0,282.37,2.55,10.97,60.0,2019-05,2019
199997,27620399,2020-03-03,22,302.0,302. 경복궁역 4번출구 뒤,정기권,F,20대,1.0,32.11,0.35,1.53,7.0,2020-03,2020
199998,704950,2017-05-12,1,577.0,광진청소년수련관,정기,M,20대,1.0,106.67,0.86,3.69,11.0,2017-05,2017
199999,38251776,2020-09-06,18,1653.0,1653. 노원역1번출구,일일권,NaN,20대,1.0,0.00,0.00,0.00,32.0,2020-09,2020

In [3]:
grouped_Bicycle_Seoul1 = Bicycle_Seoul.groupby(['연월', '연령대코드'])['사용시간(분)']

grouped_Bicycle_Seoul1

In [4]:
grouped_Bicycle_Seoul1.agg(['mean','sum'])

                    mean      sum
연월      연령대코드
2017-01 20대    19.253731   2580.0
        30대    17.715909   1559.0
        40대    18.267606   1297.0
        50대    17.482759    507.0
        60대    18.333333    165.0
...                  ...      ...
2020-12 40대    30.054811  24675.0
        50대    31.123499  18145.0
        60대    32.024691   5188.0
        70대~   32.533333    976.0
        ~10대   33.602787   9644.0

[335 rows x 2 columns]

In [5]:
grouped_Bicycle_Seoul2 = Bicycle_Seoul.groupby(['연도', '연령대코드'])['사용시간(분)']

grouped_Bicycle_Seoul2

In [6]:
grouped_Bicycle_Seoul2.agg(['mean','sum'])

                 mean        sum
연도   연령대코드
2017 20대    36.541944   313201.0
     30대    30.276048   151683.0
     40대    28.620291    86605.0
     50대    28.663241    36259.0
     60대    28.697885     9499.0
     70대~   24.198718     3775.0
     a      79.288676    49714.0
     ~10대   35.409660    19794.0
2018 20대    31.587211   426301.0
     30대    29.021844   228518.0
     40대    28.781788   137174.0
     50대    26.905618    59865.0
     60대    29.521101    16089.0
     70대~   25.407583     5361.0
     ~10대   26.743202    17704.0
2019 20대    35.003464   970086.0
     30대    30.670801   445064.0
     40대    29.795471   284219.0
     50대    26.867302   140919.0
     60대    31.302789    39285.0
     70대~   26.214286     8074.0
     ~10대   32.158521   102650.0
2020 20대    38.613432  1452367.0
     30대    35.502769   743641.0
     40대    37.253679   518981.0
     50대    34.232389   291078.0
     60대    35.095106    76016.0
     70대~   35.140992    13459.0
     ~10대   37.353259   200587.0

In [7]:
grouped_Bicycle_Seoul3 = Bicycle_Seoul.groupby(['연도', '성별'])['이동거리(M)']

grouped_Bicycle_Seoul3

In [8]:
grouped_Bicycle_Seoul3.agg(['mean','sum'])

              mean        sum
연도   성별
2017 F    4.611647   33789.54
     M    3.985914   46499.67
2018 F    5.536734   59193.22
     M    4.955773   90705.51
     \N   3.879975    3045.78
2019 F    5.838216   64243.73
     M    5.451240  101938.19
     f   10.745625     171.93
     m   11.125312     356.01
2020 F    2.323768   40589.25
     M    2.208964   59807.71
     f   11.308333     203.55
     m   11.965385     311.10

In [9]:
grouped_Bicycle_Seoul4 = Bicycle_Seoul.groupby(['연월', '연령대코드'])['이용건수']

grouped_Bicycle_Seoul4

In [10]:
grouped_Bicycle_Seoul4.agg(['mean','sum'])

                   mean    sum
연월      연령대코드
2017-01 20대    1.134328  152.0
        30대    1.090909   96.0
        40대    1.042254   74.0
        50대    1.000000   29.0
        60대    1.000000    9.0
...                 ...    ...
2020-12 40대    1.084044  890.0
        50대    1.042882  608.0
        60대    1.018519  165.0
        70대~   1.033333   31.0
        ~10대   1.142857  328.0

[335 rows x 2 columns]

In [11]:
# Bicycle_Seoul[(Bicycle_Seoul['연월'] == '2019-01') & (Bicycle_Seoul['연령대코드'] == '20대')]['이용건수'].sort_values(ascending = False)

In [12]:
Bicycle_Seoul=Bicycle_Seoul[Bicycle_Seoul['운동량']!='\\N']

Bicycle_Seoul['운동량']=[float(x) for x in Bicycle_Seoul['운동량']]
Bicycle_Seoul['탄소량']=[float(x) for x in Bicycle_Seoul['탄소량']]

grouped_Bicycle_Seoul5 = Bicycle_Seoul.groupby(['연월'])['탄소량']
grouped_Bicycle_Seoul5.agg(['mean','sum'])

C:\Users\BIT_R33\anaconda3\envs\data-anal-env\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\BIT_R33\anaconda3\envs\data-anal-env\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

             mean       sum
연월
2017-01  0.645618    219.51
2017-02  0.739592    253.68
2017-03  0.860324    636.64
2017-04  1.081986   1378.45
2017-05  1.151797   2006.43
2017-06  1.118492   2402.52
2017-07  1.074503   1567.70
2017-08  1.148400   2368.00
2017-09  1.044037   3489.17
2017-10  1.041168   3333.82
2017-11  0.693729   1356.24
2017-12  0.742324    696.30
2018-01  1.010301   1310.36
2018-02  1.137511   1338.85
2018-03  1.184049   2453.35
2018-04  1.261248   3141.77
2018-05  1.311587   3966.24
2018-06  1.236442   4030.80
2018-07  1.257833   4075.38
2018-08  1.267119   3518.79
2018-09  1.247610   2886.97
2018-10  1.198576   3442.31
2018-11  1.020957   2251.21
2018-12  1.005666   3067.28
2019-01  0.940408   1313.75
2019-02  0.937374   1099.54
2019-04  1.295271   4319.73
2019-05  1.437251  11134.38
2019-06  1.616881  13177.58
2019-07  1.570312  11964.21
2019-08  1.709243  12262.11
2019-09  1.730078  12364.87
2019-10  1.592453  13440.30
2019-11  1.363053   7887.99
2019-12  1.008598   3590.61
2020-01  1.101705   3663.17
2020-02  1.191455   3782.87
2020-03  1.714486   9765.71
2020-04  1.349690  10419.61
2020-05  1.195135  10208.84
2020-06  1.122198  10877.47
2020-07  0.733087   7047.17
2020-08  0.197937   1304.01
2020-09  0.260809   2680.86
2020-10  0.135886   1490.81
2020-11  0.066931    521.73
2020-12  0.150406    747.52

In [13]:
grouped_Bicycle_Seoul6 = Bicycle_Seoul.groupby(['연월'])['운동량']
grouped_Bicycle_Seoul5.agg(['mean','sum'])

             mean       sum
연월
2017-01  0.645618    219.51
2017-02  0.739592    253.68
2017-03  0.860324    636.64
2017-04  1.081986   1378.45
2017-05  1.151797   2006.43
2017-06  1.118492   2402.52
2017-07  1.074503   1567.70
2017-08  1.148400   2368.00
2017-09  1.044037   3489.17
2017-10  1.041168   3333.82
2017-11  0.693729   1356.24
2017-12  0.742324    696.30
2018-01  1.010301   1310.36
2018-02  1.137511   1338.85
2018-03  1.184049   2453.35
2018-04  1.261248   3141.77
2018-05  1.311587   3966.24
2018-06  1.236442   4030.80
2018-07  1.257833   4075.38
2018-08  1.267119   3518.79
2018-09  1.247610   2886.97
2018-10  1.198576   3442.31
2018-11  1.020957   2251.21
2018-12  1.005666   3067.28
2019-01  0.940408   1313.75
2019-02  0.937374   1099.54
2019-04  1.295271   4319.73
2019-05  1.437251  11134.38
2019-06  1.616881  13177.58
2019-07  1.570312  11964.21
2019-08  1.709243  12262.11
2019-09  1.730078  12364.87
2019-10  1.592453  13440.30
2019-11  1.363053   7887.99
2019-12  1.008598   3590.61
2020-01  1.101705   3663.17
2020-02  1.191455   3782.87
2020-03  1.714486   9765.71
2020-04  1.349690  10419.61
2020-05  1.195135  10208.84
2020-06  1.122198  10877.47
2020-07  0.733087   7047.17
2020-08  0.197937   1304.01
2020-09  0.260809   2680.86
2020-10  0.135886   1490.81
2020-11  0.066931    521.73
2020-12  0.150406    747.52

In [14]:
Bicycle_Seoul.groupby(['연월','대여구분코드']).count()

                  Unnamed: 0  대여일자  대여시간  대여소번호  대여소명    성별  연령대코드  이용건수  \
연월      대여구분코드
2017-01 일일(2시간권)           2     2     2      2     2     2      2     2
        일일(비회원)            3     3     3      3     3     3      3     3
        일일(회원)            35    35    35     35    35    35     35    35
        정기               300   300   300    300   300   300    300   300
2017-02 단체                 2     2     2      2     2     2      2     2
...                      ...   ...   ...    ...   ...   ...    ...   ...
2020-11 일일권             1397  1397  1397   1397  1397   758   1397  1397
        정기권             6369  6369  6369   6369  6369  3503   6369  6369
2020-12 단체권               19    19    19     19    19     7     19    19
        일일권              854   854   854    854   854   452    854   854
        정기권             4097  4097  4097   4097  4097  2312   4097  4097

                   운동량   탄소량  이동거리(M)  사용시간(분)    연도
연월      대여구분코드
2017-01 일일(2시간권)     2     2        2        2     2
        일일(비회원)      3     3        3        3     3
        일일(회원)      35    35       35       35    35
        정기         300   300      300      300   300
2017-02 단체           2     2        2        2     2
...                ...   ...      ...      ...   ...
2020-11 일일권       1397  1397     1397     1397  1397
        정기권       6369  6369     6369     6369  6369
2020-12 단체권         19    19       19       19    19
        일일권        854   854      854      854   854
        정기권       4097  4097     4097     4097  4097

[171 rows x 13 columns]

In [15]:
Bicycle_Seoul.groupby(['연도','대여구분코드']).count()

               Unnamed: 0   대여일자   대여시간  대여소번호   대여소명     성별  연령대코드   이용건수  \
연도   대여구분코드
2017 단체                98     98     98     98     98     98     98     98
     일일(2시간권)         284    284    284    284    284    284    284    284
     일일(비회원)          852    852    852    852    852    300    852    852
     일일(회원)          3783   3783   3783   3783   3783   3783   3783   3783
     정기             14064  14064  14064  14064  14064  14064  14064  14064
     정기(2시간권)         464    464    464    464    464    464    464    464
2018 단체권              148    148    148    148    148    148    148    148
     일일권             4997   4997   4997   4997   4995   4997   4997   4997
     일일권(비회원)           8      8      8      8      8      8      8      8
     정기권            24626  24626  24626  24626  24624  24626  24626  24626
2019 단체권              400    400    400    400    400    121    400    400
     일일권            11057  11057  11057  11057  11057   4271  11057  11057
     일일권(비회원)           2      2      2      2      2      2      2      2
     정기권            50070  50070  50070  50070  50070  25259  50070  50070
2020 단체권              578    578    578    578    578    243    578    578
     일일권            20029  20029  20029  20029  20029   9452  20029  20029
     일일권(비회원)           4      4      4      4      4      4      4      4
     정기권            67756  67756  67756  67756  67756  34589  67756  67756

                 운동량    탄소량  이동거리(M)  사용시간(분)     연월
연도   대여구분코드
2017 단체           98     98       98       98     98
     일일(2시간권)    284    284      284      284    284
     일일(비회원)     852    852      852      852    852
     일일(회원)     3783   3783     3783     3783   3783
     정기        14064  14064    14064    14064  14064
     정기(2시간권)    464    464      464      464    464
2018 단체권         148    148      148      148    148
     일일권        4997   4997     4997     4997   4997
     일일권(비회원)      8      8        8        8      8
     정기권       24626  24626    24626    24626  24626
2019 단체권         400    400      400      400    400
     일일권       11057  11057    11057    11057  11057
     일일권(비회원)      2      2        2        2      2
     정기권       50070  50070    50070    50070  50070
2020 단체권         578    578      578      578    578
     일일권       20029  20029    20029    20029  20029
     일일권(비회원)      4      4        4        4      4
     정기권       67756  67756    67756    67756  67756

In [16]:
Bicycle_Seoul.groupby(['연월','성별']).count()

Bicycle_Seoul.groupby(['연도','성별']).count()

Bicycle_Seoul.groupby(['연도','대여시간']).count()

           Unnamed: 0  대여일자  대여소번호  대여소명  대여구분코드    성별  연령대코드  이용건수   운동량  \
연도   대여시간
2017 0            577   577    577   577     577   563    577   577   577
     1            465   465    465   465     465   448    465   465   465
     2            292   292    292   292     292   273    292   292   292
     3            187   187    187   187     187   177    187   187   187
     4            157   157    157   157     157   152    157   157   157
...               ...   ...    ...   ...     ...   ...    ...   ...   ...
2020 19          5968  5968   5968  5968    5968  2978   5968  5968  5968
     20          5486  5486   5486  5486    5486  2763   5486  5486  5486
     21          4880  4880   4880  4880    4880  2446   4880  4880  4880
     22          4121  4121   4121  4121    4121  2030   4121  4121  4121
     23          3046  3046   3046  3046    3046  1442   3046  3046  3046

            탄소량  이동거리(M)  사용시간(분)    연월
연도   대여시간
2017 0      577      577      577   577
     1      465      465      465   465
     2      292      292      292   292
     3      187      187      187   187
     4      157      157      157   157
...         ...      ...      ...   ...
2020 19    5968     5968     5968  5968
     20    5486     5486     5486  5486
     21    4880     4880     4880  4880
     22    4121     4121     4121  4121
     23    3046     3046     3046  3046

[96 rows x 13 columns]

In [17]:
Bicycle_Seoul[Bicycle_Seoul['사용시간(분)'] < 1]

,Unnamed: 0,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),사용시간(분),연월,연도
503,24592052,2019-11-09,9,292.0,292. 영일 어린이공원,정기권,NaN,~10대,1.0,0.00,0.00,0.00,0.0,2019-11,2019
866,21303844,2019-09-15,8,1024.0,1024. 강동구청 앞,정기권,F,50대,1.0,218.02,1.97,8.47,0.0,2019-09,2019
2384,3187980,2017-10-14,15,272.0,당산육갑문,정기,M,30대,1.0,63.91,0.62,2.69,0.0,2017-10,2017
2859,6630352,2018-06-06,18,1313.0,정릉교회 앞,정기권,F,40대,1.0,837.54,8.18,35.25,0.0,2018-06,2018
3037,3631751,2017-11-02,17,2157.0,난곡 사거리,일일(회원),M,40대,1.0,0.00,0.00,0.00,0.0,2017-11,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197387,29541056,2020-04-15,0,1215.0,1215. 올림픽공원역 1번출구 앞,정기권,NaN,50대,1.0,32.02,0.34,1.47,0.0,2020-04,2020
197654,25675293,2019-12-12,16,543.0,543. 구의공원(테크노마트 앞),정기권,M,40대,1.0,1201.11,10.05,43.33,0.0,2019-12,2019
198347,4629362,2018-03-13,20,2323.0,주식회사 오뚜기 정문 앞,일일권,M,30대,1.0,0.00,0.00,0.00,0.0,2018-03,2018
199569,3814726,2017-11-13,8,610.0,동대문중 교차로,정기,F,20대,1.0,0.00,0.00,0.00,0.0,2017-11,2017
199605,3306583,2017-10-19,15,637.0,KAIST 경영대학 앞,정기,M,20대,1.0,0.00,0.00,0.00,0.0,2017-10,2017

In [18]:
Bicycle_Seoul[Bicycle_Seoul['사용시간(분)'] > 360]

,Unnamed: 0,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),사용시간(분),연월,연도
987,38620755,2020-09-13,16,186.0,186. 월드컵공원,일일권,NaN,40대,5.0,536.48,4.05,17.45,450.0,2020-09,2020
1509,15151085,2019-05-18,19,207.0,207. 여의나루역 1번출구 앞,일일권,NaN,20대,27.0,5720.32,52.46,226.08,1988.0,2019-05,2019
1590,28955758,2020-04-04,15,1213.0,1213. 백토공원 앞,일일권,NaN,20대,5.0,815.85,8.68,37.47,417.0,2020-04,2020
1913,8643853,2018-08-19,18,207.0,여의나루역 1번출구 앞,일일권,M,20대,7.0,995.76,8.26,35.64,411.0,2018-08,2018
2688,30587098,2020-05-03,17,186.0,186. 월드컵공원,일일권,NaN,40대,10.0,818.89,6.17,26.62,571.0,2020-05,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196696,26010052,2019-12-25,1,1160.0,1160. 양천향교역 7번출구앞,일일권,NaN,20대,1.0,99.08,0.97,4.17,482.0,2019-12,2019
197243,30370109,2020-04-30,12,152.0,152. 마포구민체육센터 앞,일일권,NaN,30대,7.0,1815.51,17.81,76.81,722.0,2020-04,2020
197922,34471827,2020-07-01,21,2301.0,2301. 현대고등학교 건너편,일일권,NaN,20대,9.0,4304.10,36.03,155.38,558.0,2020-07,2020
199064,1460546,2017-07-04,21,634.0,외국어대 정문 앞,일일(회원),F,20대,4.0,1020.92,10.57,45.60,378.0,2017-07,2017
199936,16755918,2019-06-16,21,152.0,152. 마포구민체육센터 앞,일일권,NaN,20대,9.0,1815.10,17.33,74.67,446.0,2019-06,2019

In [19]:
Bicycle_Seoul[Bicycle_Seoul['운동량'] > 2000]

,Unnamed: 0,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),사용시간(분),연월,연도
193,29011453,2020-04-05,17,1444.0,1444. 면목4치안센터,일일권,F,20대,1.0,3051.39,28.38,122.31,112.0,2020-04,2020
349,10810885,2018-10-23,15,1308.0,안암로터리 버스정류장 앞,정기권,M,40대,1.0,2123.61,14.64,63.09,7.0,2018-10,2018
511,18782721,2019-07-20,21,2119.0,2119. 중앙동 동진빌딩,정기권,M,30대,1.0,2452.03,15.96,68.80,31.0,2019-07,2019
695,14938244,2019-05-15,7,835.0,835. 남영역 건너편,정기권,M,40대,1.0,5892.02,35.59,153.39,2.0,2019-05,2019
818,15907994,2019-06-01,21,1173.0,1173. 강서구청사거리(SH타워),정기권,NaN,20대,4.0,3948.56,35.99,155.11,202.0,2019-06,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199601,30921525,2020-05-08,18,342.0,342. 대학로 마로니에공원,정기권,NaN,20대,2.0,2529.37,16.94,73.00,65.0,2020-05,2020
199695,2300744,2017-09-05,17,109.0,제일빌딩 앞,정기,M,20대,2.0,2724.95,26.57,114.49,74.0,2017-09,2017
199747,5222949,2018-04-22,2,2264.0,이수역 1번출구,정기권,M,30대,1.0,2213.48,16.21,69.87,76.0,2018-04,2018
199778,28607755,2020-03-29,11,708.0,708. 서울출입국관리사무소 앞,정기권,NaN,20대,1.0,2057.17,18.83,81.17,66.0,2020-03,2020
199870,5117968,2018-04-17,9,2107.0,도림천 신화교,정기권,F,30대,1.0,2320.46,20.91,90.15,14.0,2018-04,2018

In [23]:
Bicycle_Seoul[Bicycle_Seoul['이동거리(M)'] > Bicycle_Seoul['사용시간(분)'] * 900]

,Unnamed: 0,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),사용시간(분),연월,연도
866,21303844,2019-09-15,8,1024.0,1024. 강동구청 앞,정기권,F,50대,1.0,218.02,1.97,8.47,0.0,2019-09,2019
2384,3187980,2017-10-14,15,272.0,당산육갑문,정기,M,30대,1.0,63.91,0.62,2.69,0.0,2017-10,2017
2859,6630352,2018-06-06,18,1313.0,정릉교회 앞,정기권,F,40대,1.0,837.54,8.18,35.25,0.0,2018-06,2018
6054,26412988,2020-01-13,20,1172.0,1172. 가양3동 주민센터,정기권,M,50대,1.0,70.13,0.59,2.53,0.0,2020-01,2020
11292,28015066,2020-03-15,17,567.0,567. 성수역 2번출구 앞,일일권,NaN,20대,1.0,25.48,0.23,0.99,0.0,2020-03,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187235,10701668,2018-10-19,7,304.0,광화문역 2번출구 앞,정기권,F,20대,1.0,2.97,0.03,0.15,0.0,2018-10,2018
193121,3277476,2017-10-18,6,309,광화문역 6번출구 옆,정기,M,40대,1.0,4.99,0.05,0.21,0.0,2017-10,2017
193801,3417939,2017-10-23,22,2325,대치동 버거킹대치점,정기,F,40대,1.0,73.95,0.58,2.49,0.0,2017-10,2017
197387,29541056,2020-04-15,0,1215.0,1215. 올림픽공원역 1번출구 앞,정기권,NaN,50대,1.0,32.02,0.34,1.47,0.0,2020-04,2020
197654,25675293,2019-12-12,16,543.0,543. 구의공원(테크노마트 앞),정기권,M,40대,1.0,1201.11,10.05,43.33,0.0,2019-12,2019

In [24]:
Bicycle_Seoul[Bicycle_Seoul['이동거리(M)'] > Bicycle_Seoul['사용시간(분)'] * 0.9]

,Unnamed: 0,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),사용시간(분),연월,연도
6,27158937,2020-02-14,0,257.0,257. 신길삼거리(우리은행),정기권,M,20대,1.0,959.08,9.86,42.49,8.0,2020-02,2020
56,24192915,2019-11-01,23,305.0,305. 종로구청 옆,정기권,M,50대,1.0,621.74,6.28,27.07,20.0,2019-11,2019
193,29011453,2020-04-05,17,1444.0,1444. 면목4치안센터,일일권,F,20대,1.0,3051.39,28.38,122.31,112.0,2020-04,2020
349,10810885,2018-10-23,15,1308.0,안암로터리 버스정류장 앞,정기권,M,40대,1.0,2123.61,14.64,63.09,7.0,2018-10,2018
382,19802549,2019-08-13,20,380.0,380. CJ제일제당 앞,정기권,M,20대,1.0,1389.05,11.63,50.11,37.0,2019-08,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199748,23261456,2019-10-17,15,2112.0,2112. 서울대입구역 마에스트로,정기권,M,40대,1.0,1408.45,11.79,50.81,34.0,2019-10,2019
199767,14781746,2019-05-12,13,2336.0,2336. 강남세브란스교차로 래미안그레이튼 104동 앞,일일권,NaN,50대,1.0,1438.21,8.87,38.23,22.0,2019-05,2019
199778,28607755,2020-03-29,11,708.0,708. 서울출입국관리사무소 앞,정기권,NaN,20대,1.0,2057.17,18.83,81.17,66.0,2020-03,2020
199802,23225502,2019-10-16,22,1211.0,1211. 방이삼거리,정기권,F,20대,2.0,1256.04,11.35,48.90,36.0,2019-10,2019
199870,5117968,2018-04-17,9,2107.0,도림천 신화교,정기권,F,30대,1.0,2320.46,20.91,90.15,14.0,2018-04,2018

In [25]:
Bicycle_Seoul.groupby(['연월','이용건수']).count()

              Unnamed: 0  대여일자  대여시간  대여소번호  대여소명  대여구분코드   성별  연령대코드  운동량  \
연월      이용건수
2017-01 1.0          316   316   316    316   316     316  316    316  316
        2.0           19    19    19     19    19      19   19     19   19
        3.0            5     5     5      5     5       5    5      5    5
2017-02 1.0          321   321   321    321   321     321  321    321  321
        2.0           19    19    19     19    19      19   19     19   19
...                  ...   ...   ...    ...   ...     ...  ...    ...  ...
2020-12 2.0          363   363   363    363   363     363  170    363  363
        3.0           49    49    49     49    49      49   19     49   49
        4.0           10    10    10     10    10      10    4     10   10
        5.0            2     2     2      2     2       2    2      2    2
        6.0            1     1     1      1     1       1    0      1    1

              탄소량  이동거리(M)  사용시간(분)   연도
연월      이용건수
2017-01 1.0   316      316      316  316
        2.0    19       19       19   19
        3.0     5        5        5    5
2017-02 1.0   321      321      321  321
        2.0    19       19       19   19
...           ...      ...      ...  ...
2020-12 2.0   363      363      363  363
        3.0    49       49       49   49
        4.0    10       10       10   10
        5.0     2        2        2    2
        6.0     1        1        1    1

[372 rows x 13 columns]